{% extends 'base.html' %} 
{% load static %}
{% block title%}Login - Genfin{% endblock%} 
{% block body%}


<div class="container .justify-content-center">
  <div class="row justify-content-center" style="min-height: 100%">
    <div class="col-md-9 col-lg-12 col-xl-10">
      <div
        class="card shadow-lg o-hidden border-0 my-5"
        style="height: 550px; border-radius: 18px"
      >
        <div class="card-body p-0">
          <div class="row" style="height: 550px">
            <div class="col-lg-6 justify-content-center">
              <div class="p-5" style="min-height: 550px">
                <div class="text-center">
                  <h4
                    class="text-dark"
                    style="font-weight: bold; margin-bottom: 4px"
                  >
                    Sign In
                  </h4>
                </div>
                <p
                  style="
                    text-align: center;
                    margin-bottom: 46px;
                    color: var(--bs-dark-border-subtle);
                  "
                >
                  Sign in to stay connected.
                </p>
                <form class="user" method="post">
                {% csrf_token %}
                  <div class="mb-3">
                    <input
                      class="form-control form-control-user"
                      type="username"
                      id="exampleInputUserName"
                      aria-describedby="usernameHelp"
                      placeholder="Enter User Name..."
                      name="username"
                      style="border-radius: 10px"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      class="form-control form-control-user"
                      type="password"
                      id="exampleInputPassword"
                      placeholder="Password"
                      name="password"
                      style="border-radius: 10px"
                    />
                  </div>
                  <div class="mb-3">
                    <div class="custom-checkbox small"></div>
                  </div>
                  <a href="home"
                    ><button
                      class="btn btn-primary d-block btn-user w-100"
                      type="submit"
                      style="margin-top: 36px; border-radius: 10px"
                    >
                      Login
                    </button></a>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-none d-lg-flex text-center">
              <div
                class="flex-grow-1 bg-login-image"
                style="
                  background: url('{% static "assets/img/illustrations/login_side.svg" %}') center / cover no-repeat;
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if messages %}
{% for message in messages %}
 
<div class="alert alert-danger alert-dismissible fade show m-4" role="alert">
  <strong>Login Failed</strong> {{message}}.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
$(document).ready(function() {
$(".alert").hide(); 
$(".alert").fadeTo(2000, 500).slideUp(500, function() {
$(".alert").slideUp(500);
});
});
</script>
 
{% endfor %}
{% endif %}
{% endblock%} 
{% block scripts %}
<script src="{% static 'assets/js/login_script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock%}
