{% extends 'home/components/dashboard_base.html' %}
{% load static %}

{% block title %}Analysis - Genfin{% endblock %}


{% block body %}
<h1>Analysis Report</h1>
<div style="border: 1px solid #ddd; padding: 15px; margin: 15px;">
    <h2>2024 Analysis</h2>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <img src="{% static 'graphs/monthly_sales_2024.svg' %}" alt="Monthly Sales 2022" style="width: 48%; height: 400px; object-fit: contain;">
        <img src="{% static 'graphs/payment_methods_2024.svg' %}" alt="Payment Methods 2022" style="width: 48%; height: 400px; object-fit: contain;">
    </div>
</div>
<div style="border: 1px solid #ddd; padding: 15px; margin: 15px;">
    <h2>2023 Analysis</h2>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <img src="{% static 'graphs/monthly_sales_2023.svg' %}" alt="Monthly Sales 2022" style="width: 48%; height: 400px; object-fit: contain;">
        <img src="{% static 'graphs/payment_methods_2023.svg' %}" alt="Payment Methods 2022" style="width: 48%; height: 400px; object-fit: contain;">
    </div>
</div>

<div style="border: 1px solid #ddd; padding: 15px; margin: 15px;">
    <h2>2022 Analysis</h2>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <img src="{% static 'graphs/monthly_sales_2022.svg' %}" alt="Monthly Sales 2023" style="width: 48%; height: 400px; object-fit: contain;">
        <img src="{% static 'graphs/payment_methods_2022.svg' %}" alt="Payment Methods 2023" style="width: 48%; height: 400px; object-fit: contain;">
    </div>
</div>

<div style="border: 1px solid #ddd; padding: 15px; margin: 15px;">
    <h2>2021 Analysis</h2>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <img src="{% static 'graphs/monthly_sales_2021.svg' %}" alt="Monthly Sales 2024" style="width: 48%; height: 400px; object-fit: contain;">
        <img src="{% static 'graphs/payment_methods_2021.svg' %}" alt="Payment Methods 2024" style="width: 48%; height: 400px; object-fit: contain;">
    </div>
</div>

<div style="border: 1px solid #ddd; padding: 15px; margin: 15px;">
    <h2>Overall Analysis</h2>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <img src="{% static 'graphs/sales_by_customer.svg' %}" alt="Sales by Customer" style="width: 48%; height: 400px; object-fit: contain;">
        <img src="{% static 'graphs/sales_over_time.svg' %}" alt="Sales Over Time" style="width: 48%; height: 400px; object-fit: contain;">
        <img src="{% static 'graphs/top_products.svg' %}" alt="Top Products" style="width: 48%; height: 400px; object-fit: contain;">
    </div>
</div></div>

{% endblock %}