{% extends 'home/components/dashboard_base.html' %} {% block title %}Settings - Genfin{% endblock %}
{% block body %}

<div class="container">
  <div class="row">
    <h1 style="color: white">Settings</h1>
  </div>

  <!-- Top flex item with extra space -->
  <div class="d-flex bg-gray-900 p-md-3 rounded-3 mb-4">
    <div class="flex-shrink-0">
      <i class="fa-solid fa-moon"></i>
    </div>
    <div class="flex-grow-1 ms-3 text-white">Dark Theme</div>
    <div class="flex-grow-1 ms-3 text-white">currently not suported</div>
    <div class="flex-shrink-0">

      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>

  <!-- Bottom flex items with lines between them -->
  <div class="d-flex flex-column gap-1">
    <a href="">
      <div class="d-flex bg-gray-900 p-md-3 rounded-top-3">
        <div class="flex-shrink-0">
          <i class="fa-solid fa-database"></i>
        </div>
        <div class="flex-grow-1 ms-3 text-white">Back Up</div>
        <div class="flex-shrink-0">
          <i class="fa-solid fa-chevron-right"></i>
        </div></div
    ></a>

    <a href="">
      <div class="d-flex bg-gray-900 p-md-3">
        <div class="flex-shrink-0">
          <i class="fa-solid fa-chart-simple"></i>
        </div>
        <div class="flex-grow-1 ms-3 text-white">Status</div>
        <div class="flex-shrink-0">
          <i class="fa-solid fa-chevron-right"></i>
        </div></div
    ></a>

    <a href="mailto:p230030@pwr.nu.edu.pk">
      <div class="d-flex bg-gray-900 p-md-3 rounded-bottom-3">
        <div class="flex-shrink-0">
          <i class="fa-solid fa-circle-info"></i>
        </div>
        <div class="flex-grow-1 ms-3 text-white">Help</div>
        <div class="flex-shrink-0">
          <i class="fa-solid fa-chevron-right"></i>
        </div></div
    ></a>
  </div>

  <a href="{% url 'home/logout' %}">
    <div class="d-flex flex-column gap-1 mt-4">
      <div class="d-flex bg-gray-900 p-md-3 rounded-2">
        <div class="flex-shrink-0">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>
        <div class="flex-grow-1 ms-3 text-white">LogOut</div>
        <div class="flex-shrink-0">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div></div
  ></a>
</div>

{% endblock %}
