{% extends 'home/components/dashboard_base.html' %} 
{% block title %}Settings - Genfin{% endblock %} 
{% block body %}

<div class="container">
  <div class="row">
    <h1 style="color: white">Settings</h1>
  </div>

  <!-- Top flex item with extra space -->
  <div class="d-flex bg-gray-900 p-md-3 rounded-3 mb-4">
    <div class="flex-shrink-0">
      <img src="..." alt="..." />
    </div>
    <div class="flex-grow-1 ms-3 text-white">
      Dark Theme
    </div>
    <div class="flex-shrink-0">
        <img src="..." alt="..." />
      </div>
  </div>

  <!-- Bottom flex items with lines between them -->
  <div class="d-flex flex-column gap-1 ">
    <div class="d-flex bg-gray-900 p-md-3 rounded-top-3">
      <div class="flex-shrink-0">
        <img src="..." alt="..." />
      </div>
      <div class="flex-grow-1 ms-3 text-white">
        Back Up
      </div>
      <div class="flex-shrink-0">
        <img src="..." alt="..." />
      </div>
    </div>
    <div class="d-flex bg-gray-900 p-md-3">
      <div class="flex-shrink-0">
        <img src="..." alt="..." />
      </div>
      <div class="flex-grow-1 ms-3 text-white">
        Status
      </div>
      <div class="flex-shrink-0">
        <img src="..." alt="..." />
      </div>
    </div>
    <div class="d-flex bg-gray-900 p-md-3 rounded-bottom-3">
      <div class="flex-shrink-0">
        <img src="..." alt="..." />
      </div>
      <div class="flex-grow-1 ms-3 text-white">
       Help
      </div>
      <div class="flex-shrink-0">
        <img src="..." alt="..." />
      </div>
    </div>
  </div>

  <div class="d-flex bg-gray-900 flex-column mt-4 rounded-1">
    <div class="d-flex bg-puple-900 p-md-3 rounded-2">
      <div class="flex-shrink-0">
        <img src="..." alt="..." />
      </div>
      <div class="flex-grow-1 ms-3 text-white">
        <a href="{% url 'home/logout' %}">LogOut</a>
      </div>
      <div class="flex-shrink-0">
        <img src="..." alt="..." />
      </div>
    </div>
  </div>
</div>

{% endblock %}